# Eclipse/Java
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.class

# Xtext
# including generated code here for review
#src-gen/
*._trace
**/model/generated/
.antlr-generator-*-patch.jar

# EMF
model-gen/

# Xtend
xtend-gen/
*._trace
*.xtendbin

# Maven
target/

# Custom
EvaluationData
